body {
    text-align: center;
    background-color: black;
}
#container {
    max-width: 300px;
    min-width: 300px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(59, 56, 56);
    display: inline-block;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
}
#write {
    background-color: rgb(19, 19, 19);
    font-size: 1.5em;
    border-radius: 10px;
    min-width: 85%;
    max-width: 85%;
    min-height: 100px;
    display: inline-block;
    text-align: left;
    padding: 10px 10px 10px 10px;
}
#show {
    color: white;
    display: inline-block;
    max-width: 100%;
    font-size: 1.3em;
    word-wrap: break-word;
}
#showPast {
    color: rgba(255, 255, 255, 0.381);
    display: inline;
    max-width: 90%;
    font-size: 0.9em;
    word-wrap: break-word;
}
.numberButton {
    background-color: black;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
.numberButton:hover {
    background-color: rgb(68, 68, 68);
}
.numberButton:active {
    background-color: rgb(160, 160, 160);
}
.operatorButton {
    color: orange;
    background-color: black;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
.operatorButton:hover {
    background-color: rgb(68, 68, 68);
}
.operatorButton:active {
    background-color: rgb(160, 160, 160);
}
.equalButton {
    color: rgb(255, 255, 255);
    background-color: orange;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
.equalButton:hover {
    background-color: rgb(253, 185, 60);
}
.equalButton:active {
    background-color: rgb(168, 126, 48);
}